@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navBg: #060b26;
}

/* For WebKit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: #e7e3de; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #323233; /* Thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

* {
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1366px;
    margin: 0 auto;
  }
  .navbar-color {
    color: #323233;
  }
  .nav-bar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 20px;
    font-size: 2em;
    cursor: pointer;
  }
  .nav-menu {
    background-color: #323233;
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    padding: 0px 0px 0px 20px;
    top: 0;
    left: -30%;
    transition: 850ms;
  }

  .nav-menu.active {
    left: 0;
    transition: 1550ms;
  }

  .navbar-toggle {
    background-color: #323233;
    color: white;
    font-size: 2em;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  @media (max-width: 767px) {
    .navbar-color {
      color: #323233;
    }
    .nav-bar {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      padding: 20px 0px 0px 20px;
      font-size: 2em;
      cursor: pointer;
    }
    .nav-menu {
      background-color: #323233;
      width: 200px;
      height: 100vh;
      display: flex;
      position: fixed;
      padding: 0px 0px 0px 20px;
      top: 0;
      left: -100%;
      transition: 850ms;
    }

    .nav-menu.active {
      left: 0;
      transition: 1550ms;
    }

    .navbar-toggle {
      background-color: #323233;
      color: white;
      font-size: 2em;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
